.restart,
.stats,
.best {
    font-size: x-large;
    background: lightblue;
    padding: 2px;
    margin-left: 2px;
}
.gamespace,
.menu,
.stats {
    display: inline-flex;
}

.menu {
    width: 100%;
}
.restart {
    align-self: flex-start;
}

.best {
    margin: auto;
    align-self: flex-end;
    margin-right: 5px;
}
.stats {
    align-self: flex-start;
    margin: 0;
}


.heading {
    margin: 0;
}
.space {
    border: 1px;
}
.variants {
    margin-bottom: 10px;
    display: inline-flex;
    min-width: 0;
    min-height: 0;
    font-size: x-large;
    div {
        padding: 5px;
    }
}

.game {
    border: 1px black;
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.piece,
.hole {
    border-radius: 5px;
    font-size: xxx-large;
    background: cornflowerblue;
    margin: 5px;
    line-height: 100px;
    width: 100px;
    text-align: center;
    justify-content: center;
    display: flex;
}

.hole {
    background: darkorchid;
}

.piece {
    @keyframes slideInFromLeft {
        0% {
            transform: translateX(-100%);
        }
        100% {
            transform: translateX(0);
        }
    }
}

.normal,
.blind,
.memory,
.size,
.pic {
    border-radius: 10px;
    background: #73ad21;
    padding: 20px;
    margin-left: 15px;
}

.history,
.moves {
    size: xx-large;
}
